body{
    background-color: rgb(20, 20, 20);
    color:rgb(58, 31, 31);

    font-family: sans-serif;
}
.chamada{ 
    background: rgb(143, 36, 98);
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 100px; 
}

img{
    height: 200px;
}
.categoria{ /* separar os videos da parede*/
    padding-left: 50px;
    padding-right: 50px;
background-color: blue;/* troca cor da segunda dvisão do ste*/
}
.categoria-videos{
    display:flex;  /*tornar flexivel*/
    overflow-x:auto;/* não deixa sair para fora da margem criando rolagem*/
    gap: 20px;/*cria um espaço entre os videos*/
}