body{
    background-color: rgb(42, 82, 82);
    color:rgb(58, 31, 31)
}
section{ 
    background: rgb(143, 36, 98);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 100px; 
}

